/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

/* Header styles */
.header {
  background-color: #333;
  padding: 20px;
}

.title {
  color: #fff;
  text-align: center;
  font-size: 24px;
}

/* Container styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Dropdown styles */
.dropdown {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  border: 1px double rgba(20,20,20,0.5);
  border-radius: 10px;
  background-color: #fff;
  appearance: none;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown option {
  font-size: 16px;
}

select{
  padding: 20px;
}